@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfcf8;
  color: #1c1917;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}